[build]
  command = "npm run build"
  publish = "dist"
[build.environment]
  VITE_API_BASE_URL = "https://marido-de-aluguel-carioca.onrender.com"
  VITE_API_BASE = "https://marido-de-aluguel-carioca.onrender.com"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200